.card-list {
    width: 85vw;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 1200px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media screen and (max-width: 960px) {
    .card-list {
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width: 630px) {
    .card-list {
        grid-template-columns: 1fr;

    }
}
