.App {
    text-align: center;
}

h1 {
    font-family: 'Metal Mania', sans-serif;
    font-size: 70px;
    color: honeydew;
    text-shadow: -5px 5px 0 #00e6e6, -10px 10px 0 #01cccc, -15px 15px 0 #00bdbd;
}
